script(type='text/javascript')
  var data = Game.data = {};
  data.character = !{character};
  data.players = !{players};

script(type='text/javascript')
  var socket = Game.socket = new io.Socket('localhost', { port: 3000 });
  socket.connect();
  socket.on('connect', function(){});
  socket.on('disconnect', function(){});

  Game.Controllers.App.initialize();
  Game.Controllers.App.animate();